body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  /* Display and solution */
  display: flex;
  flex-direction: column;
}

/* Star - CSS on the list and link elements */
a {
  color: white;
  text-decoration: none;
  font-size: 24px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 20px;
}
/* End - CSS on the list and link elements */

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  /* New additions - Display flex, padding, and font styling */
  display: flex;
  align-items: center;
  font-size: 32px;
  font-weight: 900;
  padding: 0 16px;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  /* New additions - Display flex */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.sidebar {
  width: 300px;
  background: royalblue;
  /* New additions - No shrinking, and padding */
  flex-shrink: 0;
  padding: 16px;
}

/*New class .body. Add flex */
.body {
  flex: 1;
  display: flex;
}

/* New additions to css - asking to wrap .container */
.container {
  display: flex;
  flex-wrap: wrap; 
  padding: 32px;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
    /* Padding and margins-  solution */
  padding: 15px;
  margin: 15px;
  width: 300px;
}